//- index.pug
doctype html
html
  head
    title Ritesh Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/image/logo.png", alt="")
                | RDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/") Contact us]

    section#introSection
        div Welcome to Ritesh's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/image/mission1.png", alt="")
                div.card-content
                    p This is the best dance academy of india
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/image/mission2.png", alt="")
                div.card-content
                    p This is the best dance academy of india
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/image/mission3.png", alt="")
                div.card-content
                    p This is the best dance academy of india
            

    section#sponsorsSection
        h2 Our sponsors
        div#sponsors
            img(src="/static/image/skype.webp", alt="sponsor image",class="spImage")
            img(src="/static/image/microsoft.png", alt="sponsor image",class="spImage")
            img(src="/static/image/hp.png", alt="sponsor image",class="spImage")
            img(src="/static/image/apple2.webp", alt="sponsor image",class="spImage")
    
    footer#footer
        | Copyright © 2020 RiteshDanceAcademy.com | All rights reserved


    script
      include ../static/index.js